{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel panel-success">
        <div class="panel-heading">Repondre à un questionnaire</div>
        <div class="panel-body">
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Titre qcm</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for survey in listSurvey %}
                        <tr>
                            <td>{{ survey.title }}</td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}